{deps, [
  {rabbit_common, ".*", {git, "https://github.com/MiniclipPortugal/rabbit_common.git", {tag, "3.6.3"}}}
]}.

{erl_opts, [
  debug_info,
  compressed,
  report,
  warn_export_all,
  warn_export_vars,
  warn_shadow_vars,
  warn_unused_function,
  warn_deprecated_function,
  warn_obsolete_guard,
  warn_unused_import
]}.
